<!DOCTYPE html>
<html>
<head>
    <title>Predicting Student Performance using Machine Learning</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_home.css') }}">
</head>
<body>
    <nav class="menu-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/jamilmrt" target="_blank">GitHub</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Predicting Student Performance using Machine Learning</h1>
        <p>This project endeavours to develop a machine learning model capable of predicting student performance in mathematics based on a range of factors, including gender, race/ethnicity, parental level of education, lunch type, test preparation course, and exam scores.</p>
        <p>The model has been trained on a dataset of student information and their corresponding exam scores, and is capable of providing insights into the factors that influence student performance.</p>
        <p>For further information, please refer to the GitHub repository, which contains the project codebase. Additionally, the Flask API is available for making predictions.</p>
        <div class="button-container">
            <a href="https://github.com/jamilmrt" class="btn" target="_blank">GitHub Repository</a>
            <a href="/predictdata" class="btn">Web App</a>
        </div>
    </div>
</body>
</html>
